.DS_Store
.vscode/
env/
__pycache__/
Makefile
spkmeans.exe
spkmeansmodule.cp37-win_amd64.pyd
build/
test_inputs/test1.txt
dist/
spkmeansmodule.egg-info/
spkmeans
spkmeansmodule.cpython-38-darwin.so
test_inputs/test2.txt
test_inputs/input_a_rami.txt